<div class="modal" tabindex="-1" role="dialog" #popupElement>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">Посмотрите наши чайные коллекции</h5>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" routerLink="products">Смотреть</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePopup()">Закрыть</button>
            </div>
        </div>
    </div>
</div>

